name: Windows
on: [push]
jobs:
  Windows:
    name: build-windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare vcpkg (Windows)
        uses: lukka/run-vcpkg@v10
        id: runvcpkg
        with:
          vcpkgDirectory: ${{ runner.workspace }}/another_path_tracer/vcpkg/
          vcpkgGitCommitId: ec6fe06e8da05a8157dc8581fa96b36b571c1bd5
          vcpkgTriplet: x64-windows
          runVcpkgInstall: true
          runVcpkgFormatString: '[`install`, `--recurse`, `--clean-after-build`, `--x-install-root`, `$[env.VCPKG_INSTALLED_DIR]`, `--triplet`, `$[env.VCPKG_DEFAULT_TRIPLET]`, `zlib:x64-windows`, `libpng:x64-windows`, `libjpeg-turbo:x64-windows`, `tiff:x64-windows`, `freeglut:x64-windows`]'
      - name: Creating build directory (Windows)
        run: mkdir build
      - name: Running CMake (Windows)
        run: cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON -DCMAKE_TOOLCHAIN_FILE=${{ runner.workspace }}\another_path_tracer\vcpkg\scripts\buildsystems\vcpkg.cmake
        working-directory: ${{ github.workspace }}/build
      - name: Build (Windows)
        run: cmake --build .
        working-directory: ${{ github.workspace }}/build
      - name: Tests (Windows)
        run: ctest
        working-directory: ${{ github.workspace }}/build
